<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer="defer" src="/js/user.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<div>
    <form>
        <div id="login-form">
            <input id="login_email" type="text" class="email_login" name="login_email"
                   placeholder="e-mail address" required="true"/>
            <input id="login_password" type="password" class="password_login" name="login_password"
                   placeholder="Password" required="true"/>
        </div>
        <div class="login_error">
            <p>E-mail or password is incorrect!</p>
        </div>
        <div>
            <button class="login-button" type="button">Login</button>
        </div>
    </form>
    <form>
        <div id="registration-form">
            <input id="register_email" type="text" class="email_register" name="register_email"
                   placeholder="e-mail address" required="true"/>
            <input id="register_username" type="text" class="username_register" name="register_email"
                   placeholder="username" required="true"/>
            <input id="register_password" type="password" class="password_register" name="register_password"
                   placeholder="Password" required="true"/>
        </div>
        <div>
            <button class="register-button" type="button">Register</button>
        </div>
    </form>
</div>
</body>
</html>