<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PollCraze</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer="defer" src="/js/mainpage.js"></script>
    <!-- Load google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">google.charts.load('current', {packages: ['corechart']});</script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<div id="buttonContainer" class="container">
    <div>
        <button class="changemypoll-button" type="button">Create a new poll</button>
    </div>
    <div>
        <button class="answerpolls-button" type="button">Answer polls!</button>
    </div>
</div>
<div id="mainContainer" class="container">
    <div id="poll_form">
        <h4 id="user"></h4>
        <h2 id="poll"></h2>
        <div id="piechart"></div>
        <div id="answer_menu">
            <form action="/answer_poll" method="post">
                <fieldset id="answer">
                </fieldset>
            </form>
            <div>
                <input id="new_answer" name="new_answer" placeholder="add a new answer"/>
                <button class="newanswer-button" type="button">Add</button>
            </div>
            <div id="comments_container">
                <h4>Comments on this answer:</h4>
                <ul id="comments">
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>